<div class="container">
    <div class="row">
        <div class="h2 col-12">Liste des Étudiants :</div>
        <div class="col-12">
            <table class="ipslTable table-bordered w-100 ">
                <thead>
                    <tr >
                        <th >#</th>
                        <th>Code</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Téléphone</th>
                        <th>Adresse</th>
                        <th>Classe</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                     <!-- [ngStyle]="
                            selectedEtudiant?.code == e.code
                                ? styleRow
                                : i % 2 == 0
                                ? styleRowPair
                                : styleRowInpair" -->
                    <tr 
                        
                        *ngFor="let e of etudiants; let i = index"
                        [class.even]="i % 2 == 0"
                        [class.add]="i % 2 != 0"
                        [class.selectedRow]="selectedEtudiant?.code==e.code"
                        (click)="selectEtudiant(e)">
                        
                        <td>{{ i + 1 }}</td>
                        <td>{{ e.code }}</td>
                        <td>{{ e.prenom }}</td>
                        <td>{{ e.nom }}</td>
                        <td>{{ e.telephone }}</td>
                        <td>{{ e.adresse }}</td>
                        <td>{{ e.classe.nom }}</td>
                        <td>
                            <div style="float: right;" *ngIf="selectedEtudiant?.code === e.code" >
                                <button type="button" [class.btn]="true" class="btn btn-link mx-2" [disabled]="e.classe.filiere.code != 'INF'">
                                    Détail
                                </button>
                                <button type="button" class="btn btn-primary mx-2" [disabled]="e.classe.filiere.code != 'INF'">
                                    Modifier
                                </button>
                                <button type="button" class="btn btn-outline-danger mx-2" [disabled]="e.classe.filiere.code != 'INF'">
                                    Supprimer
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
