/* You can add global styles to this file, and also import other style files */
@import "ipslvar";
@import "../node_modules/bootstrap/scss/bootstrap";

.active{
    color: rgb(208, 255, 0);
    background-color: black;
}

.ipslValue{
    font-size: 12px;
    font-weight: bold;
}

.ipslLabel{
    @extend .ipslValue;
    @extend .text-primary;
    text-decoration: underline;
}